.our {
    padding: 80px 0 50px 0;
    background: url(../../resourses/img/coffee-best-bg.jpg) center (center/cover) no-repeat;
    min-height: 415px;
    &-title {
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        color: #000000;
    }
    &-wrapper {
        display: flex;
        margin-top: 40px;
        justify-content: space-evenly;
    }
    &-item {
        width: 220px;
        min-height: 240px;
        background: rgba(255, 255, 255, 0.65);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        transition: all 0.8s;
        &:hover {
            border: 1px solid black;
            transform: translateY(-10px);
        }
        &-title {
            font-weight: 400;
            font-size: 14px;
            color: #000000;
            margin-top: 14px;
        }
        &-price {
            margin: 10px 20px 0 0;
            font-weight: 700;
            font-size: 14px;
            color: #000000;
            align-self: end;
        }
    }
    a {
        text-decoration: none;

        &:hover {
            color: #000000;
        }
    }
}