.single-card {
    margin: 0 auto;
    padding: 70px 0 30px 0;
    width: 875px;
    display: grid;
    grid-template-columns: 400px 420px;
    grid-template-rows: 355px;
    column-gap: 55px;

    &-img {
        width: 100%;
        object-fit: cover;
        filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
    }

    &-title {
        font-weight: 400;
        font-size: 24px;
        color: #000000;
        text-align: center;
        margin-top: 10px;
    }

    .span-3 {
        left: inherit;
        right: 250px;
    }

    .span-4 {
        left: 250px;
    }

    .coffee-bean-divider {
        display: block;
        margin: 0 auto;
    }

    &-country,
    &-price,
    &-descr {
        span {
            font-weight: 700;
            font-size: 14px;
            color: #000000;
        }
    }

    &-country {
        margin-top: 25px;
    }

    &-descr {
        margin-top: 16px;
        line-height: 20px;
    }

    &-price {
        margin-top: 16px;
        font-weight: 400;
        font-size: 24px;
        color: #000000;
    }
}